{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="hs-text">
							<h2><span>Organize</span> your time.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->
{% endblock %}